.admin-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  margin-left: -8px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1; 
  position: fixed;
  height: 100vh;
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #555;
}
.logout-button {
  margin-top: auto;
  padding: 10px 20px;
  background-color: #d9534f;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: #c9302c;
  }
}

.main-content {
  flex: 1;
  padding: 20px;
}
