<app-navbar/>
<div class="landing-page">
  <section class="hero">
    <h1>Welcome to Xplora Tours and Travels</h1>
    <p>Discover the best tours and adventures in Kenya</p>
    <button routerLink="/tours">Explore Tours</button>
  </section>
  
  <section class="features">
    <div class="feature">
      <h2>Hikes</h2>
      <p>Explore the most beautiful hiking trails.</p>
    </div>
    <div class="feature">
      <h2>Cultural Excursions</h2>
      <p>Immerse yourself in the rich culture of Kenya.</p>
    </div>
    <div class="feature">
      <h2>Weekend Getaways</h2>
      <p>Find the perfect weekend getaway.</p>
    </div>
  </section>
</div>
<app-footer/>
