<app-navbar></app-navbar>
<div class="register-container">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" formControlName="name" placeholder="name">
      <div *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)" class="error">
        <div *ngIf="registerForm.get('name')?.errors?.['required']">name is required.</div>
        <div *ngIf="registerForm.get('name')?.errors?.['minlength']">name must be at least 3 characters long.</div>
      </div>
    </div>

    <div class="form-group">
      <input type="email" formControlName="email" placeholder="Email">
      <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)" class="error">
        <div *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</div>
        <div *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email address.</div>
      </div>
    </div>

    <div class="form-group">
      <input type="password" formControlName="password" placeholder="Password">
      <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)" class="error">
        <div *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</div>
        <div *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</div>
      </div>
    </div>

    <div class="form-group">
      <input type="password" formControlName="confirmPassword" placeholder="Confirm Password">
      <div *ngIf="registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched)" class="error">
        <div *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required.</div>
        <div *ngIf="registerForm.get('confirmPassword')?.errors?.['mustMatch']">Passwords must match.</div>
      </div>
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>
</div>
